### Applied Machine Learning Office Hours I

<center>
  <strong>This is bold HTML</strong>
</center>

Right away, the notebooks work like calculators.

In [1]:
2 * 2

4

In [2]:
8 + 10

18

In [3]:
4/5

0.8

In [4]:
8 - 10

-2

In [5]:
2**3

8

In [7]:
10%6

4

### Data Types

In [10]:
#strings
'This is a string'

'This is a string'

In [11]:
"This is also a string"

'This is also a string'

In [12]:
ex_1 = 'This is a string'

In [13]:
ex_1

'This is a string'

In [14]:
type(ex_1)

str

In [15]:
ex_2 = 4

In [16]:
type(ex_2)

int

In [17]:
ex_3 = 10.3

In [18]:
type(ex_3)

float

In [19]:
ex_4 = True

In [20]:
type(ex_4)

bool

In [22]:
ex_5 = False

In [23]:
6_ex = True

SyntaxError: invalid token (<ipython-input-23-3853ebd4662b>, line 1)

### Comparisons and Booleans

In [24]:
#greater than
5 > 10

False

In [25]:
#less than
7 < 10

True

In [26]:
#equals to
'this string' == 'that string'

False

In [27]:
#not the same
'this string' != 'that string'

True

In [28]:
#true is same as 1 false 0
True + 7

8

In [29]:
2 >= 10

False

In [30]:
3 <= 5

True

### Collections

In [31]:
#list
list_1 = [1, 2, 3, 'steve']

In [32]:
type(list_1)

list

- Lists are ordered
- Lists have indicies
- Lists can be changed

In [34]:
#extracts the first element of the list
list_1[0]

1

In [35]:
list_1[1:]

[2, 3, 'steve']

In [36]:
list_1[1:3]

[2, 3]

In [37]:
list_1[:-1]

[1, 2, 3]

In [38]:
list_1[::2]

[1, 3]

In [39]:
#tuple
tuple_1 = (1, 2, 3, 'steve')

In [40]:
tuple_1[0]

1

In [41]:
tuple_1[:2]

(1, 2)

In [42]:
list_1[-1] = 'jacob'

In [43]:
list_1

[1, 2, 3, 'jacob']

In [44]:
tuple_1[-1] = 'jacob'

TypeError: 'tuple' object does not support item assignment

In [45]:
#set
set_1 = {4, 5, 5, 3, 2, 6, 4, 4, 4, 4}

In [46]:
set_1

{2, 3, 4, 5, 6}

In [47]:
set_1[0]

TypeError: 'set' object is not subscriptable

In [48]:
#dictionary 
dict_1 = {'name': 'jacob', 'age': 21, 'dogs': 'yes please'}

In [49]:
dict_1

{'name': 'jacob', 'age': 21, 'dogs': 'yes please'}

In [50]:
dict_1['name']

'jacob'

### Methods for Collections

In [51]:
ex_string = 'This is just something to do something with.'

In [53]:
ex_string.upper()

'THIS IS JUST SOMETHING TO DO SOMETHING WITH.'

In [54]:
ex_string.count('something')

2

In [55]:
ex_string.find('something')

13

In [56]:
ex_string[13:]

'something to do something with.'

In [57]:
list_1.append('hardy')

In [58]:
list_1

[1, 2, 3, 'jacob', 'hardy']

In [59]:
list_1.pop()

'hardy'

In [60]:
list_1

[1, 2, 3, 'jacob']

In [61]:
dict_1.keys()

dict_keys(['name', 'age', 'dogs'])

In [62]:
dict_1.values()

dict_values(['jacob', 21, 'yes please'])

### A Simple Data Example

In [63]:
data = {'names': ['jacob', 'hardy', 'hennessy', 'oden'],
       'ages': [20, 1, 14, 12],
       'weight': [165, 30, 65, 50]}

In [64]:
data['names']

['jacob', 'hardy', 'hennessy', 'oden']

In [65]:
data['ages']

[20, 1, 14, 12]

In [67]:
sum(data['ages'])/len(data['ages'])

11.75

In [68]:
data2 = {'data1': {'names': ['jacob', 'hardy', 'hennessy', 'oden'],
       'ages': [20, 1, 14, 12],
       'weight': [165, 30, 65, 50]},
         'data2': {'names': ['jacob', 'hardy', 'hennessy', 'oden'],
       'ages': [208, 1, 148, 12],
       'weight': [1658, 30, 65, 50]}}

In [69]:
data2['data1']

{'names': ['jacob', 'hardy', 'hennessy', 'oden'],
 'ages': [20, 1, 14, 12],
 'weight': [165, 30, 65, 50]}

### Writing Functions in Python

In [70]:
def square_it(n):
    return n*n

In [71]:
square_it(4)

16

In [72]:
four_squared = square_it(4)

In [73]:
four_squared

16

In [74]:
type(four_squared)

int

In [75]:
def sq_it(n):
    print(n*n)

In [76]:
four_sq = sq_it(4)

16

In [77]:
type(four_sq)

NoneType

In [78]:
def f(x):
    return 2*x**2 - 3*x + 10

In [79]:
f(4)

30

In [80]:
f(10)

180

In [81]:
f([1, 2, 3, 4, 5])

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [82]:
#traditional for loop
xs = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [85]:
for x in xs:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [86]:
for x in xs:
    print(f(x))

9
12
19
30
45
64
87
114
145
180

In [87]:
f_x = []

for x in xs:
    f_x.append(f(x))

In [88]:
f_x

[9, 12, 19, 30, 45, 64, 87, 114, 145, 180]

In [90]:
#list comprehension
f_x = [f(xi) for xi in xs]

In [91]:
type(xs)

list

In [92]:
for x in xs:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [94]:
for ent in dict_1:
    print(ent, dict_1[ent])

name jacob
age 21
dogs yes please

In [95]:
f_x = []

for x in xs:
    if x%2 == 0:
        f_x.append(f(x))

In [96]:
f_x

[12, 30, 64, 114, 180]

In [97]:
range(10)

range(0, 10)

In [98]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [99]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
xs = [i for i in range(10)]
ys = [i**2 for i in range(10)]

In [102]:
function_dict = {}
for x,y in zip(xs, ys):
    function_dict[x] = y

In [103]:
function_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [104]:
{x:y for x,y in zip(xs, ys)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}